<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="NDP\Question\Block\Adminhtml\Rating\Edit\Tab\Form">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="question" xsi:type="array">
                    <item name="class" xsi:type="string">NDP\Question\Ui\DataProvider\Product\Form\Modifier\Question</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
