<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="NDP\Question\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">question</argument>
        </arguments>
    </virtualType>
    <virtualType name="NDP\Question\Model\Session" type="Magento\Framework\Session\Generic">
        <arguments>
            <argument name="storage" xsi:type="object">NDP\Question\Model\Session\Storage</argument>
        </arguments>
    </virtualType>
    <type name="NDP\Question\Controller\Product">
        <arguments>
            <argument name="questionSession" xsi:type="object">NDP\Question\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="question_customer" xsi:type="string">/question/customer/</item>
            </argument>
        </arguments>
    </type>
</config>
