<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="tag_tag_product_collection_load_after">
        <observer name="question" instance="NDP\Question\Observer\TagProductCollectionLoadAfterObserver" shared="false" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="question" instance="NDP\Question\Observer\CatalogBlockProductCollectionBeforeToHtmlObserver" shared="false" />
    </event>
</config>
